html{
    background-color: white;
    margin: 0;
    width: 100%;
    } 

body{

    --main-font: "Outfit";
    
    --first-font-color: #0257ff;
    --second-font-color: #5D666A;
    --third-font-color: #87929F;

    /* font-size-headings */
    --font-size-xxl: 96px;
    --font-size-xl: 64px;
    --font-size-l: 48px;
    --font-size-m: 32px;
    --font-size-s: 24px;
    --font-size-xs: 16px;

    /* font-weight */
    --light-font-weight: 200;
    --standard-font-weight: 400;
    --semibold-font-weight: 500;
    --bold-font-weight: 600; 


    margin: 0;
    background-color: rgb(241, 241, 241);
}

/*hamburger menu*/
nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    translate: 100%;
    transition: 0s;} 

.nav-open {
    background-color: rgb(255, 255, 255);
    padding-top: 154px;
    translate: 50%;
    padding-top: 3rem;
    padding-left: 54px;
    white-space: pre-line;
    border-left: solid 3px #0257ff;
}



.hamburger-class {
margin-right: 16px; }     

.hamburger { 
z-index: 9;
position: relative;
width: 42px;
height: 32px;
cursor: pointer; 
margin-left: auto; }

@media all and (min-width: 900px) { 

.hamburger, .hamburger-class {
    display: none; }

header > nav {
    display: flex;
    align-items: center;
    position: static;
    translate: unset;
    padding: 0; }

nav button {
    display: none; }

nav ul { 
    display: flex;
    justify-content: space-between;
    gap: 32px; } 

 .links-links, .links-rechts {
    display: flex;
    flex-direction: row;
    gap: 32px; } 

 }

.hamburger span {
    position: absolute;
    width: 50%;
    height: 6px;
    background: var(--standard-color);
    transition: all 0.2s ease-in-out; }

.hamburger span:nth-child(odd) {
    left: 0; }

.hamburger span:nth-child(even) {
    left: 50%; }

.hamburger span:nth-child(1), .hamburger span:nth-child(2) {
    top:0; }

.hamburger span:nth-child(3), .hamburger span:nth-child(4) {
    top:13px; }   
    
.hamburger span:nth-child(5), .hamburger span:nth-child(6) {
    top:26px; }  
    
.hamburger-open .hamburger span:nth-child(1), .hamburger-open .hamburger span:nth-child(6) {
    transform: rotate(45deg); }

.hamburger-open .hamburger span:nth-child(2), .hamburger-open .hamburger span:nth-child(5) {
    transform: rotate(-45deg); }  

.hamburger-open .hamburger span:nth-child(1) {
    top: 8px;
    left: 5px; }

.hamburger-open .hamburger span:nth-child(2) {
    top: 8px;
    left: calc(50% - 5px); }

.hamburger-open .hamburger span:nth-child(3) {
    opacity: 0; }

.hamburger-open .hamburger span:nth-child(4) { 
    opacity: 0; }

.hamburger-open .hamburger span:nth-child(5) { 
    top: 19px;
    left: 5px; }

.hamburger-open .hamburger span:nth-child(6) { 
    top: 19px;
    left: calc(50% - 5px); }



a{
    font-family: var(--main-font);
    text-decoration: none;
    color: #5D666A;
}

h1{
    font-family: var(--main-font);
}

h2{
    font-family: var(--main-font);
    color: var(--third-font-color);
    font-weight: var(--light-font-weight);
    font-size: var(--font-size-xs);
    margin: 0;
    padding: 32px 32px 0px;
}

p{
    font-family: var(--main-font);
}

ul{
    padding: 0;
    margin: 0;
}

li{
    font-family: var(--main-font);
    list-style-type: none;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 32px 32px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.ad-logo{
    color: var(--first-font-color);
    display: flex;
    align-items: center;
    position: relative;
    left: -45px;
    font-size: var(--font-size-s);
}

.dashboard{
    position: absolute;
    top: 90px;
    font-size: 18px;
    color: var(--first-font-color);
    font-weight: 600;
}

.nieuwekijk{
    position: absolute;
    top: 340px;
    font-size: 18px;
    color: var(--first-font-color);
    font-weight: 600;
}

#dashboardtitle{
    font-size: var(--font-size-m);
    color: var(--second-font-color);
    margin: 0;
    font-size: var(--font-size-l);
    padding-left: 32px;
}

.dashNFL{
    background: white;
    margin: 16px;
    border-radius: 5%;
}

.NFLtop{
    display: flex;
    justify-content: space-evenly;
    padding: 24px 0px;
    align-items: center;
}

#NFL{
    font-size: var(--font-size-m);
    color: var(--second-font-color);
    margin: 0;
    font-size: var(--font-size-s);      
   
}

.progressbar{
    margin: 0;
    padding: 0;
    border: none;
    width: fit-content;
}

.NFLbottom{
    display: flex;
    justify-content: space-around;
}

.dashSoC{
    background: white;
    margin: 16px;
    border-radius: 5%;
}

.SoCtop{
    display: flex;
    justify-content: space-evenly;
    padding: 24px 0px;
    align-items: center;
}


.SoCbottom{
    display: flex;
    justify-content: space-around;
}

#SoC{
    font-size: var(--font-size-m);
    color: var(--second-font-color);
    margin: 0;
    font-size: var(--font-size-s);      
   
}

.dashNK{
    background: white;
    margin: 16px;
    border-radius: 5%;
}

.NKtop{
    display: flex;
    justify-content: space-evenly;
    padding: 24px 0px;
    align-items: center;
}


.NKbottom{
    display: flex;
    justify-content: space-around;
}

#NK{
    font-size: var(--font-size-m);
    color: var(--second-font-color);
    margin: 0;
    font-size: var(--font-size-s);      
   
}

.dashTB{
    background: white;
    margin: 16px;
    border-radius: 5%;
}

.TBtop{
    display: flex;
    justify-content: space-evenly;
    padding: 24px 0px;
    align-items: center;
}


.TBbottom{
    display: flex;
    justify-content: space-around;
}

#TB{
    font-size: var(--font-size-m);
    color: var(--second-font-color);
    margin: 0;
    font-size: var(--font-size-s);      
   
}

.footer-links{
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.footer-text{
    font-size: var(--font-size-xs);
    font-weight: var(--standard-font-weight);
}


