html{
    background-color: white;
    margin: 0;
    width: 100%;
    } 

body{

    --main-font: "Outfit";
    
    --first-font-color: #0257ff;
    --second-font-color: #5D666A;
    --third-font-color: #87929F;
    --background-gray: #F0F0F0;
    --state-green: #00C858;
    --state-info: #0257FF;
    --state-warning: #FF9800;
    --state-error: #FF3819;


    /* font-size-headings */
    --font-size-xxl: 96px;
    --font-size-xl: 64px;
    --font-size-l: 48px;
    --font-size-m: 32px;
    --font-size-s: 24px;
    --font-size-xs: 16px;

    /* font-weight */
    --light-font-weight: 200;
    --standard-font-weight: 400;
    --semibold-font-weight: 500;
    --bold-font-weight: 600; 

    font-family: "Outfit";
    margin: 0;

    /*progressbar*/
    --value57: 57;
    --value100: 100;
    --breedte: 300px;
    --dikte-rand: 1em;

    margin: 0;
    background-color: rgb(241, 241, 241);
}

/*hamburger menu*/
nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    translate: 100%;
    transition: 0s;} 

.nav-open {
    background-color: rgb(255, 255, 255);
    padding-top: 154px;
    translate: 50%;
    padding-top: 3rem;
    padding-left: 54px;
    white-space: pre-line;
    border-left: solid 3px #0257ff;
}

.hamburger-class {
margin-right: 16px; }     

.hamburger { 
z-index: 9;
position: relative;
width: 42px;
height: 32px;
cursor: pointer; 
margin-left: auto; }

@media all and (min-width: 750px) { 

.hamburger, .hamburger-class {
    display: none; }

header > nav {
    display: flex;
    align-items: center;
    position: static;
    translate: unset;
    padding: 0; }

nav button {
    display: none; }

nav ul { 
    display: flex;
    justify-content: space-between;
    gap: 32px; } 

 .links-links, .links-rechts {
    display: flex;
    flex-direction: row;
    gap: 32px; } 

 }

.hamburger span {
    position: absolute;
    width: 50%;
    height: 6px;
    background: var(--standard-color);
    transition: all 0.2s ease-in-out; }

.hamburger span:nth-child(odd) {
    left: 0; }

.hamburger span:nth-child(even) {
    left: 50%; }

.hamburger span:nth-child(1), .hamburger span:nth-child(2) {
    top:0; }

.hamburger span:nth-child(3), .hamburger span:nth-child(4) {
    top:13px; }   
    
.hamburger span:nth-child(5), .hamburger span:nth-child(6) {
    top:26px; }  
    
.hamburger-open .hamburger span:nth-child(1), .hamburger-open .hamburger span:nth-child(6) {
    transform: rotate(45deg); }

.hamburger-open .hamburger span:nth-child(2), .hamburger-open .hamburger span:nth-child(5) {
    transform: rotate(-45deg); }  

.hamburger-open .hamburger span:nth-child(1) {
    top: 8px;
    left: 5px; }

.hamburger-open .hamburger span:nth-child(2) {
    top: 8px;
    left: calc(50% - 5px); }

.hamburger-open .hamburger span:nth-child(3) {
    opacity: 0; }

.hamburger-open .hamburger span:nth-child(4) { 
    opacity: 0; }

.hamburger-open .hamburger span:nth-child(5) { 
    top: 19px;
    left: 5px; }

.hamburger-open .hamburger span:nth-child(6) { 
    top: 19px;
    left: calc(50% - 5px); }



a{
    font-family: var(--main-font);
    text-decoration: none;
    color: #5D666A;
}

h1{
    font-family: var(--main-font);
}

h2{
    font-family: var(--main-font);
    color: var(--third-font-color);
    font-weight: var(--light-font-weight);
    font-size: var(--font-size-xs);
    margin: 0;
    padding: 32px 32px 0px;
}

p{
    font-family: var(--main-font);
}

ul{
    padding: 0;
    margin: 0;
}

li{
    font-family: var(--main-font);
    list-style-type: none;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 32px 32px;
    position: sticky;
    top: 0;
    z-index: 100;
}

meter {
	appearance:none;
	width: 80px;
	height: 80px;
  border-radius:50%;
  mask-image: radial-gradient(closest-side, transparent 28px, black 0);
	
    /* weghalen van de standaard browser styling*/
        &::-webkit-meter-bar {
        display: none;
        }
        &::-moz-meter-bar {
        background: none;

}


	
	background-color:#CCE3FF;
	
	background-image:conic-gradient(
		
    #0257ff calc(var(--p) * 1%),
		transparent 0
	);
	
	animation-name:revealP;
	animation-duration:2s;
	animation-play-state:paused;
	animation-fill-mode:forwards
	
}

meter.is-visible {
	animation-play-state:running;
}

@property --p {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@keyframes revealP {
	0% {
		--p:0;
	}
	100% {
		--p:var(--value);
	}
}

#ontoegankelijk-meter{
    background-color: #FFDADA;
	
	background-image:conic-gradient(
		
    #FF3819 calc(var(--p) * 1%),
		transparent 0
	);
}


.button{
    margin: 0;
    padding: 0;
   
}

.check-state{
    display: flex;
    justify-content: center;

}

.logo{
    display: flex;
    gap: 64px;
}

.ad-logo{
    color: var(--first-font-color);
    display: flex;
    align-items: center;
    position: relative;
    left: -45px;
    font-size: var(--font-size-s);
}

.dashboard{
    position: absolute;
    top: 90px;
    font-size: 18px;
    color: var(--first-font-color);
    font-weight: 600;
}

.nieuwekijk{
    position: absolute;
    top: 340px;
    font-size: 18px;
    color: var(--first-font-color);
    font-weight: 600;
}

#dashboardtitle{
    font-size: var(--font-size-m);
    color: var(--second-font-color);
    margin: 0;
    font-size: var(--font-size-l);
    padding-left: 32px;
}

#NFLimg{
    width: 50px;
    padding-top: 12px;
}

.dashNFL{
    display: grid;
    justify-items: center;
    gap: 16px;
    background: white;
    margin: 16px;
    border-radius: 10px;
}
.article-middle{
    display: grid;
    justify-items: center;
    gap: 8px;
}

#NFL{
    font-size: var(--font-size-m);
    color: var(--second-font-color);
    margin: 0;
    font-size: var(--font-size-s);      
   
}

.progressbar{
    margin: 0;
    padding: 0;
    border: none;
    width: fit-content;
}

#SoCimg{
    width: 50px;
    padding-top: 12px;
}

.dashSoC{
    display: grid;
    justify-items: center;
    gap: 16px;
    background: white;
    margin: 16px;
    border-radius: 10px;
}

.article-middle{
    display: grid;
    justify-items: center;
    gap: 8px;
}

#SoC{
    font-size: var(--font-size-m);
    color: var(--second-font-color);
    margin: 0;
    font-size: var(--font-size-s);      
   
}

#NKimg{
    width: 50px;
    padding-top: 12px;
}

.dashNK{
    display: grid;
    justify-items: center;
    gap: 16px;
    background: white;
    margin: 16px;
    border-radius: 10px;
}

#NK{
    font-size: var(--font-size-m);
    color: var(--second-font-color);
    margin: 0;
    font-size: var(--font-size-s);      
   
}

.dashTB{
    display: grid;
    justify-items: center;
    gap: 16px;
    background: white;
    margin: 16px;
    border-radius: 10px;
}

#TB{
    font-size: var(--font-size-m);
    color: var(--second-font-color);
    margin: 0;
    font-size: var(--font-size-s);      
   
}

#TBimg{
    width: 50px;
    padding-top: 12px;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.footer-text{
    font-size: var(--font-size-xs);
    font-weight: var(--standard-font-weight);
}

#ontoegankelijk{
    margin: 0;
    display: grid;
    align-content: center;
    font-weight: var(--semibold-font-weight);
    color: #B50000;
}

.ontoegankelijk-bg{
    background: #FFDADA;
    height: 40px;
    width: 140px;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    border-radius: 20px;
}

.nieuwe-fouten-bg{
    background: #FFFAF3;
    height: 40px;
    width: 180px;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    border-radius: 20px;
    border: solid 1px #FFD08A;
}

.nieuwe-fouten{
    margin: 0;
    display: grid;
    align-content: center;
    font-weight: var(--semibold-font-weight);
    color: var(--second-font-color);
}

#nieuwe-fouten-meter{
    background-color: #FFE0B3;
    
    background-image:conic-gradient(
        
    #FF9800 calc(var(--p) * 1%),
        transparent 0
    );
}

#toegankelijk-meter{
    background-color: #BBFFD8;
    
    background-image:conic-gradient(
        
    #00C858 calc(var(--p) * 1%),
        transparent 0
    );
}

.toegankelijk-bg{
    background: #BBFFD8;
    height: 40px;
    width: 130px;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    border-radius: 20px;
}

#toegankelijk{
    margin: 0;
    display: grid;
    align-content: center;
    font-weight: var(--semibold-font-weight);
    color: #00883C;
}

@media all and (min-width: 542px) {
    
    .dashNFL{
        height: 200px;
        background-color: white;
        margin: 16px;
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 510px;
        padding: 0 16px 0 0;
    }

    .dashSoC{
        height: 200px;
        background-color: white;
        margin: 16px;
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 510px;
        padding: 0 16px 0 0;
    }

    .dashNK{
        height: 200px;
        background-color: white;
        margin: 16px;
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 510px;
        padding: 0 16px 0 0;
    }

    .dashTB{
        height: 200px;
        background-color: white;
        margin: 16px;
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 510px;
        padding: 0 16px 0 0;
    }
    
    meter {
        appearance:none;
        width: 150px;
        height: 150px;
      border-radius:50%;
      mask-image: radial-gradient(closest-side, transparent 55px, black 0);
        
        /* weghalen van de standaard browser styling*/
            &::-webkit-meter-bar {
            display: none;
            }
            &::-moz-meter-bar {
            background: none;
    
    }
    
    
        
        background-color:#CCE3FF;
        
        background-image:conic-gradient(
            
        #0257ff calc(var(--p) * 1%),
            transparent 0
        );
        
        animation-name:revealP;
        animation-duration:2s;
        animation-play-state:paused;
        animation-fill-mode:forwards
        
    }
    
    meter.is-visible {
        animation-play-state:running;
    }
    
    @property --p {
      syntax: "<number>";
      inherits: false;
      initial-value: 0;
    }
    
    @keyframes revealP {
        0% {
            --p:0;
        }
        100% {
            --p:var(--value);
        }
    }
    
    .progressbar{
        border: none;
        padding: 8px 0 0 64px;
    }
    
    #NFLimg{
        width: 50px;
        padding: 16px 0 0 16px;
    }

    #NFL{
        margin: 0;
        font-size: x-large;
        padding: 24px 0 0 8px;
    }
    
    #NFL-link{
        padding: 0px 8px;
    }

    #ontoegankelijk{
        margin: 0;
        display: grid;
        align-content: center;
        font-weight: var(--semibold-font-weight);
        color: #B50000;
    }

    .ontoegankelijk-bg{
        background: #FFDADA;
        height: 40px;
        width: 140px;
        display: flex;
        align-content: flex-end;
        justify-content: center;
        border-radius: 20px;
        margin-top: 2rem;
    }

    .article-middle{
        display: grid;
        justify-items: start;
        gap: 0;
    }

    #SoCimg{
        width: 50px;
        padding: 16px 0 0 16px;
    }

    #SoC{
        margin: 0;
        font-size: x-large;
        padding: 24px 0 0 8px;
    }
    
    #SoC-link{
        padding: 0px 8px;
    }

    #nieuwe-fouten{
        margin: 0;
        display: grid;
        align-content: center;
        font-weight: var(--semibold-font-weight);
        color: #FFD08A;
    }

    .nieuwe-fouten-bg{
        background: #FFFAF3;
        height: 40px;
        width: fit-content;
        display: flex;
        align-content: flex-end;
        justify-content: center;
        border-radius: 20px;
        margin-top: 2rem;
        padding: 0 10px;
    }

    #nieuwe-fouten-meter{
        background-color: #FFE0B3;
        
        background-image:conic-gradient(
            
        #FF9800 calc(var(--p) * 1%),
            transparent 0
        );
    }

    #NKimg{
        width: 50px;
        padding: 16px 0 0 16px;
    }

    #NK{
        margin: 0;
        font-size: x-large;
        padding: 24px 0 0 8px;
    }
    
    #NK-link{
        padding: 0px 8px;
    }

    #TBimg{
        width: 50px;
        padding: 16px 0 0 16px;
    }

    #TB{
        margin: 0;
        font-size: x-large;
        padding: 24px 0 0 8px;
    }
    
    #TB-link{
        padding: 0px 8px;
    }

    .toegankelijk-bg{
        background: #BBFFD8;
        height: 40px;
        width: fit-content;
        display: flex;
        align-content: flex-end;
        justify-content: center;
        border-radius: 20px;
        margin-top: 2rem;
        padding: 0 10px;
    }

    #toegankelijk-meter{
        margin-left: 85px;
    }
}

@media all and (min-width: 750px) {
    main{
        position: absolute;
        background: var(--background-gray);
        left: 200px;
        width: -webkit-fill-available;
    }

    header{
        width: 136px;
        height: 200px;
        position: absolute;
    }

    footer{
        position: absolute;
        z-index: 100;
        left: 28px;
        bottom: 16px;
    }

    .footer-links{
        display: grid;
        gap: 16px;
        padding: 0;
    }

    #ADlogo{
        width: 30px;
        height: 30px;
        position: absolute;
        left: 16px;
    }

    .ad-logo{
        height: fit-content;
        position: absolute;
        left: 50px;
    }

    .dashboard{
        position: absolute;
        top: -26px;
    }

    .nieuwekijk{
        position: absolute;
        top: -26px;
    }

    #dashboard-list{
        display: grid;
        position: absolute;
        top: 129px;
        left: 28px;
        align-content: space-evenly;
        justify-items: start;
        gap: 8px;
    }

    #nieuwekijk-list{
        display: grid;
        position: absolute;
        left: 28px;
        top: 300px;
        gap: 8px;
    }

    #nieuwe-fouten-meter{
        background-color: #FFE0B3;
        
        background-image:conic-gradient(
            
        #FF9800 calc(var(--p) * 1%),
            transparent 0
        );
    }

}

